<div class="col-md-6" ng-repeat="variation in element.elementVariations">
    <div class="newton-variation active" data-ng-if="variation.selected">
        <img ng-src="{{variation.preview}}" class ="newton-variation-img" alt="{{variation.name}}" />
    </div>
    <div class="newton-variation" data-ng-if="!variation.selected" data-ng-click="changeElementVariation(variation)">
        <img ng-src="{{variation.preview}}" class ="newton-variation-img" alt="{{variation.name}}" />
    </div>
</div>
