<div class="newton-left-menu">
    <div class="panel panel-default panel-newton">
        <div class="panel-heading">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active newton-nav-tab">
                    <a href="#product" aria-controls="product" role="tab" data-toggle="tab">Product</a>
                </li>
                <li role="presentation" class="newton-nav-tab">
                    <a id="element-tab2" href="#element" aria-controls="profile" role="tab" data-toggle="tab">Element</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active newton-tab-parent" id="product">
                    <product-config></product-config>
                </div>
                <div role="tabpanel" class="tab-pane newton-tab-parent" id="element">
                    <element-config></element-config>
                </div>
            </div>
        </div>
    </div>
</div>
