<div class="panel panel-default panel-order">
    <div class="panel-heading">
        <div class="panel-title panel-title-font">{{product.name}}</div>
    </div>
    <div class="panel-body">
        <div class="middle-element-content">
            <div ng-repeat="element in product.elements">
                <span class="newton-element-name">{{element.name}}</span>:
                <span class="newton-element-name-value">{{element.elementVariation.name}}</span>
                <br>
              <span class="newton-element-description-value">
                  {{element.elementVariation.description}}
              </span>
                <br>
                <span class="newton-element-price">Price</span>:
                <span class="newton-element-price-value">{{element.elementVariation.price}}{{orderInfo.currency}}</span>

                <div data-ng-hide="$last">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
