<div class="content">
    <div id="newtonCategoryList">
        <h3> Choose a category</h3>
        <div class="col-md-6" data-ng-repeat="category in configuratorInfo.categories">
            <div class="newton-category active" data-ng-if="category.name === activeCategory.name"
                 onclick="openProducts()">
                <div class="title">{{category.name}} </div>
                <span class="helper"></span>
                <img ng-src="{{category.preview}}" class ="newton-category-img" alt="{{category.name}}" />
            </div>
            <div class="newton-category" data-ng-if="category.name !== activeCategory.name"
                 data-ng-click="setCategory(category);" onclick="openProducts()">
                <div class="title">{{category.name}} </div>
                <span class="helper"></span>
                <img ng-src="{{category.preview}}" class ="newton-category-img" alt="{{category.name}}" />
            </div>
        </div>
    </div>

    <div id="newtonProductList" hidden="true">
        <h3> Choose a product</h3>
        <div class="col-md-6" onclick="openCategories()">
            <div class="newton-product">
                <img ng-src="{{configuratorInfo.backArrow}}" class ="newton-back-img" alt="Back" />
            </div>
        </div>
        <div class="col-md-6" data-ng-repeat="product in activeCategory.products">
            <div class="newton-product active" data-ng-if="product.name === activeProduct.name"
                data-ng-click="openElementTab()">
                <div class="title">{{product.name}} </div>
                <img ng-src="{{product.preview}}" class ="newton-product-img" alt="{{product.name}}" />
            </div>
            <div class="newton-product" data-ng-if="product.name !== activeProduct.name"
                 data-ng-click="setProduct(product)&&openElementTab()">
                <div class="title">{{product.name}} </div>
                <img ng-src="{{product.preview}}" class ="newton-product-img" alt="{{product.name}}" />
            </div>
        </div>
    </div>
</div>