.newton-canvas {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 20px 10px 0 10px;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.newton-mainframe {
  position: relative;
}