@right-menu-width: 320px;
@menu-background: #ffffff;
@canvas-height: 500px;
@border: 1px solid #ddd;
@top-element-height: 50px;
@bottom-element-height: 50px;

.newton-right-menu  {
  vertical-align: top;
  background-color: @menu-background;
  display: inline-block;
  width: @right-menu-width;
  height: @canvas-height + 2;
  max-height: @canvas-height + 2;
  //margin: 0 2px;
  margin: 20px 10px 0 10px;
}
.top-element {
  border: @border;
  width: @right-menu-width;
  margin: 0px;
  height: @top-element-height;
}
.middle-element{
  border: @border;
  border-bottom: 0px;
  border-top: 0px;
  width: @right-menu-width;
  margin: 0px;
  height: @canvas-height - @top-element-height - @bottom-element-height  + 2;
  overflow-y: auto;
}
.middle-element-content {
  margin: 20px 0 20px 5px;
}
.bottom-element {
  border: @border;
  width: @right-menu-width;
  margin: 0px;
  height: 50px;
}
.newton-description-list{
  margin: 5px;
  width: @right-menu-width - 20px;
  word-break: break-all;
  hr{
    border-color: black;
    margin: 5px 0;
  }
}
.newton-description-title{
  color: #D9534F;
  font-size: 20px;
  text-align: center;
  line-height: @top-element-height;
}
.newton-element-name {
  font-size: 16px;
  font-weight: bolder;
  font-style: italic;
}
.newton-element-price-value{
  font-size: 16px;
}
.newton-element-name-value, .newton-element-price{
  font-size: 16px;
}
.newton-element-description-value {
  font-size: 14px;
}
.newton-total-price-value, .newton-total-price {
  font-size: 16px;
  font-weight: bolder;
}
.newton-btn-order{
  width: 100%;
  margin: 0px;
  display: inline-block;
  padding: 0px;
  border-radius: 0px;
  height: @bottom-element-height;
  line-height: @bottom-element-height;
}
.panel-title-font {
  text-align: center;
  font-size: 20px;
}
.btn-order {
  margin: 0 5px 0 0;
  width: (@right-menu-width - 40px) / 2;
}
.panel-order {
  width: 50%;
  margin: 20px auto;
}